report/
archive/
*.MOV
raw/
frames/
partitioned/
resized/
rsz/
partitions/
consolidated/
augmented/
reg_consolidated/
aug_consolidated/
*.tar.gz
*.csv
*.pyo
*.pyc
.ipynb_checkpoints/
_warped/
*.swp*
YouAreAlreadyDead*
run_history/
*.h5
rsz_augmented
**/*.swp*
